*{
    font-family: 'Courier New', Courier, monospace;
}

#landing{
    border: #333333 solid 10px;
    padding-bottom: 1500px;
}

#landing-column{
    display: flex;
    width: 80%;
    margin-left: 14%;
    margin-right: 20%;
    margin-top: 5%;
}


#landing-column img{
    float: right;
    width: 50%;
    margin-right: 0%;
    margin-left: 10%;

}

/*Landing Text*/
#landing-text{
    text-align: center;
    float: left;
    padding-top: 10%;

}

#landing-text h2{
    color: #666666;
}
