*{
    font-family: 'Courier New', Courier, monospace;
}

main{
    border: #333333 solid 10px;
}

/*Landing Stuff*/

#landing-row{
    display: flex;
    width: 80%;
    margin: 1% auto 5% auto;
    border: black ridge 10px ;
    box-shadow: #666666 0px 0px 50px;
}


#landing-row img{
    float: left;
    width: 71%;
}

/*Landing Text*/
#landing-text{
    text-align: center;
    float: left;
    padding: 15% 5% 18% 5%;

}

#landing-text h2{
    color: #666666;
    padding-bottom: 10px;
}

#landing-text a{

    padding: 10px 10px 10px 10px;

    color: black;
    text-decoration: none;

    border: black solid 1px;
    border-radius: 10px;
}

/*Picture Row*/
.picture-row{
    width: 80%;
    margin: 1% auto 5% auto;
    border: black ridge 10px ;
    box-shadow: #666666 0px 0px 50px;
}

.picture-row img{
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Picture Text*/
.pic-text{
    padding: 5px;
    text-align: center;
}

/*Contact-text*/

#contact-text{
    text-align: center;
    font-size: 1.1em;
}

#contact-text h4{
    color: gray;
}