* {
    box-sizing: border-box;
}

body, html{
    height: 100%;
    min-height: 100%;
}

body{
    font-size: 'Roboto', sans-serif;
    margin: 0;

}

.credit-card {
    width: 360px;
    height: 500px;
    margin: 60px auto 0;
    border: 1px solid #dddddd;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}

.form-header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid #e1e8ee;
}

.form-body{
    height: 340px;
    padding: 30px 30px 20px;
}

.title {
    font-size: 18px;
    margin: 0;
    color: #5e6977;
}

/*Common */

.card-number, .cvv-input, .month , .year {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}

.card-number, .month , .year {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}

.card-number, .cvv-details, .cvv-input, .month , .year{
    opacity: 1;
    color: #86939e;
}

/*card type*/
#card-type {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 25px;
}

/*Card Number */
.card-number input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
}

/*Date Field*/
.month select, .year select{
    width: 145px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background-position: 85% 50%;
}

.month {
    float: left;
}

.year {
    float: right;
}

/*CVV*/

.cvv-input input{
    float: left;
    width: 145px;
    height: 40px;
    padding-left: 20px;
    border: 2px solid #e1e8ee;
    border-radius: 6px;
    background: #ffffff
}

.cvv-details{
    width: 145px;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    float: right;
    margin-bottom: 20px;
}

.cvv-details p {
    margin-top: 2px;
}

/*Buttons Section */
.paypal-btn, .proceed-btn{
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    height: 40px;
    border-color: transparent;
    border-radius: 6px;
}

.proceed-btn{
    margin-bottom: 10px;
    background: #7dc855;
}

.proceed-btn a{
    color: white;
}

.paypal-btn a, .proceed-btn a{
    text-decoration: none;
}

.paypal-btn a{
    color: white;
}

.paypal-btn{
    background: rgb(60, 194, 247);
}
